<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Линьково поле
		link(rel="stylesheet", href="styles/css/vendor.css")
		link(rel="stylesheet", href="styles/css/main.css")
	body
		.preloader
			.preloader__lense
				.preloader__lense_first
					img(src="img/linse/1.png", alt="")
				.preloader__lense_second
					img(src="img/linse/2.png", alt="")
				.preloader__lense_third
					img(src="img/linse/3.png", alt="")
		.main-page
			header.main-header.grid.grid--container.grid--no-gutters
				.row
					.col.col--lg-5
						nav.main-nav
							a.main-nav__link(href="") О компании
							a.main-nav__link(href="") Услуги
							a.main-nav__link(href="") Наши проекты
							a.main-nav__link(href="") Цены
					.col.col--lg-2
						.main-header__logo
							.logo
								a(href="")
						.main-header__title Линьково поле
						.main-header__subtitle проектирование, озеленение &amp; благоустройство
					.col.col--lg-5
						.main-header__city
							.main-header__city_text Москва
							.main-header__city_icon
						.main-header__phone + 7  910  404-24-33
						.menu
							.menu__text Куча всего
							.menu__icon
								span
								span
								span

						
			main.main-content.grid.grid--container.grid--no-gutters
				.row
					.col.col--lg-1
						.main-content__numbers
							.main-content__numbers_number.main-content__numbers_number--active 01
							.main-content__numbers_number 02
							.main-content__numbers_number 03
							.main-content__numbers_number 04
							.main-content__numbers_number 05
					.col.col--lg-3
						.main-content__main-text
							.main-content__main-text_ico
							.main-content__main-text_text Создали более
							.main-content__main-text_number 170 садов
					.col.col--lg-4
						.slider
							- for (var i = 0; i < 6; i++)
								.slider__slide
									img(src="img/img-1.jpg", alt="")
					.col.col--lg-3.col--lg-offset-1
						.main-content__right-side
							.main-content__right-side_text
								p Каждый проект для нас - ценность. В него мы вложили частичку себя.
								p Мы этим гордимся.
							a(href="").btn.btn--primary заинтригованы


			footer.main-footer.grid.grid--container.grid--no-gutters
				.row
					.col.col--lg-4.social-icons
						a(href="").social-icons__icon
							.icon.icon--facebook
						a(href="").social-icons__icon
							.icon.icon--twitter
						a(href="").social-icons__icon
							.icon.icon--vk
						a(href="").social-icons__icon
							.icon.icon--instagram
					.col.col--lg-3.col--lg-offset-5
						.call-specialist
							.call-specialist__icon
							a(href="").call-specialist__link.link Вызвать специалиста
						.main-footer__links
							.main-footer__copyright COPYRIGHT 2017
							.main-footer__webformula Создание сайта &mdash; 
								a(href="") Webformula



	script(src="js/jquery.min.js")
	script(src="js/slick.min.js")
	//- script(src="js/owl.carousel.min.js")
	script(src="js/main.js")